typedef Clp_Simplex = addr
typedef CoinBigIndex = int

Clp_Simplex Clp_newModel();
void Clp_deleteModel(Clp_Simplex);

void Clp_setOptimizationDirection(Clp_Simplex, double);

void Clp_loadProblem(Clp_Simplex, int, int, array(int,arg3)*, int*, double*, array(double,arg2)*, array(double,arg2)*, array(double,arg2)*, array(double,arg3)*, array(double,arg3)*);


void Clp_addColumns(Clp_Simplex, int, array(double,arg2)*, array(double,arg2)*, double *, CoinBigIndex *, int *, double *);
void Clp_addRows(Clp_Simplex, int, array(double,arg2)*, array(double,arg2)*, CoinBigIndex *, int *, double *);

void Clp_chgObjCoefficients(Clp_Simplex, double *);

int Clp_dual(Clp_Simplex, int);
int Clp_primal(Clp_Simplex, int);

double Clp_objectiveValue(Clp_Simplex);
double *Clp_getColSolution(Clp_Simplex);

void Clp_setLogLevel(Clp_Simplex, int);
int Clp_status(Clp_Simplex);
void Clp_dumpMatrix (Clp_Simplex);
